<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet"> 
  <title>Frontend Mentor | Fylo data storage component</title>
  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>

  <div class="wrapper">
    <nav class="content">
        <img src="images/logo.svg" alt="Fylo" class="logo">
        <div class="nav-menu">
          <a href="" class="nav-item-icon btn btn-icon-document">
            <!-- <img src="images/icon-document.svg" alt=""> -->
          </a>
          <a href="" class="nav-item-icon btn btn-icon-folder">
            <!-- <img src="images/icon-folder.svg" alt=""> -->
          </a>
          <a href="" class="nav-item-icon btn btn-icon-upload">
            <!-- <img src="images/icon-upload.svg" alt=""> -->
          </a>
        </div>
    </nav>
    <div class="information content">
      <p>You’ve used <span>815 GB</span> of your storage</p>
      <div class="progressbar">
        <div class="progress used"><span class="ic-white"></span></div>
      </div>
      <div class="desc">
        <p>0 GB</p>
        <p>1000 GB</p>
      </div>
      <div class="notif">
        <div class="notification">
          <h1>185</h1><p> GB Left</p>
        </div>
      </div>
      

    </div>
    
  </div>

  
  
  
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/rokugatsua">rokugatsua</a>.
  </div>
</body>
</html>